<!DOCTYPE html>
<html>
<head>
	<title>Blue Tomato Application</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" type="text/css" href="/css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="/bower_components/rgs/rgs-10.css" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/bower_components/c3/c3.css" />
	<link href="//abs.twimg.com/favicons/favicon.ico" rel="shortcut icon" type="image/x-icon">
	<script type="text/javascript" src="/bower_components/jslinq/linq.js"></script>
	<script type="text/javascript" src="/bower_components/angularjs/angular.js"></script>
	<script type="text/javascript" src="/bower_components/d3/d3.js"></script>
	<script type="text/javascript" src="/bower_components/c3/c3.js"></script>
	<script src="/socket.io/socket.io.js"></script>
</head>
<body>
	{{{body}}}
</body>
</html>