<script type="text/javascript" src="/js/app/app.js"></script>

<div data-ng-app="twitterChart">
	<h1>Popularidade dos principais presidenciáveis</h1>
	<div data-ng-controller='ChartController'>
		<div id="chart"></div>
		<footer></footer>
	</div>
</div>